<p style="color: green"><%= notice %></p>

<%= render @movie %>

<div>
  <%= link_to "Edit this movie", edit_movie_path(@movie) , class: "button-link"%> |
  <%= link_to "Back to movies", movies_path , class: "button-link"%>

  <%= button_to "Destroy this movie", @movie, method: :delete , class: "button-link"%>
</div>

<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 20px;
    text-align: center;
  }
  h1 {
    margin-bottom: 20px;
  }
  .button-link {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    background-color: #007bff;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  .button-link:hover {
    background-color: #0056b3;
  }
</style>